<div>
    <h2 translate="askAtosApp.ask.home.title">Asks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ask.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="askAtosApp.ask.home.createLabel">
                        Create new Ask
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <div ng-repeat="ask in vm.asks track by ask.id">
            <span ng-bind-html="ask.title">{{ask.title}}</span>
            <div>
                <span froala-view="ask.content"></span><br>
            </div>
            <!--<td>{{ask.tags}}</td>-->
            <div class="btn-group">
                <button type="submit"
                        ui-sref="ask-detail({id:ask.id})" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <button type="submit"
                        ui-sref="ask.edit({id:ask.id})" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="submit"
                        ui-sref="ask.delete({id:ask.id})" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </div>

        </div>
        </tbody>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
